<section>
  <h3>Full Access Of Central Bank</h3>
  <button class="logout-btn">logout</button>
  <ul>
    <li>Be able to see all the banks</li>
    <li>Be able to see all the customers</li>
    <li>Be able to see all the accounts</li>
  </ul>
</section>
<section>
  <h4>Banks</h4>
  <table class="banks-table">
    <thead>
      <tr>
        <th>bankId</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>
<section>
  <h4>Customers</h4>
  <table class="customers-table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>dob</th>
        <th>bankId</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>
<section>
  <h4>Accounts</h4>
  <table class="accounts-table">
    <thead>
      <tr>
        <th>account Number</th>
        <th>balance</th>
        <th>customer Id</th>
        <th>bank Id</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>
