<section>
  <h3>Full Access Of Central Bank</h3>
  <button class="logout-btn">logout</button>
  <ul>
    <li>Be able to see all the banks</li>
    <li>Be able to see all the customers</li>
    <li>Be able to see all the accounts</li>
  </ul>
</section>
<section>
  <h4>Banks</h4>
  <table class="banks-table">
    <thead>
      <tr>
        <th>Bank ID</th>
        <th>Bank Name</th>
        <th># Customers</th>
        <th># Accounts</th>
        <th>Actions</th>
        <!-- New column header -->
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>
<section>
  <h4>Customers</h4>
  <table class="customers-table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>dob</th>
        <th>bankId</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>
<section>
  <h4>Accounts</h4>
  <table class="accounts-table">
    <thead>
      <tr>
        <th>account Number</th>
        <th>balance</th>
        <th>customer Id</th>
        <th>bank Id</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>

<div id="editBankModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Edit Bank</h2>
    <form id="editBankForm">
      <input type="hidden" id="editBankId" />
      <label for="editBankName">Bank Name:</label><br />
      <input
        type="text"
        id="editBankName"
        name="bankName"
      /><br /><br />

      <label for="editBankIdInput">Bank ID:</label><br />
      <input
        type="text"
        id="editBankIdInput"
        name="bankId"
      /><br /><br />

      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>
