<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bank</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Banking System (OOP + MVC)</h1>

    <section>
        <h2>Create Customer</h2>
        <input id="first" placeholder="First Name" type="text">
        <input id="last" placeholder="Last Name" type="text">
        <input id="dob" placeholder="Date of birth" type="date">

        <button id="createCustomerBtn">Create Customer</button>
    </section>
    <section>
        <h2>List of Customers</h2>
        <div id="customerList"></div>
    </section>
    <script src="./app.js" type="module"></script>
</body>
</html>